@media (max-width: 1200px) {
   .container{
       padding: 0 15px;
   }
    .hero_title {
        font-size: 40px;
    }

    .hero_desc {
        max-width: 972px;
    }
}

@media (max-width: 972px) {
    .hero_title {
        font-size: 35px;
    }

    .hero_desc {
        font-size: 14px;
    }

    .story_heading {
        font-size: 17px;
    }

    .col_4 {
        width: 33.333%;
        flex-wrap: wrap;
        margin: 15px;
    }

    .service_title {
        font-size: 15px;
    }
    .col_6{
        width: 100%;
    }
    .footer_wrap{
        flex-wrap: wrap;
    }
    .footer_company{
        padding: 0;
        width: 100%;
        margin-bottom:15px;
    }

}

@media (max-width: 768px) {
    .hero_title {
        font-size: 32px;
    }

    .hero_desc {
        font-size: 13.2px;
    }

    .story_heading {
        font-size: 15px;
    }

    .col_4 {
        width: 50%;
    }

    .main_title {
        font-size: 12px;
    }

    .main_title:before {
        bottom: 0;
        left: 130px;
    }

    .main_desc {
        margin-bottom: 15px;
        padding: 0;
    }


    .col_8 {
        flex-wrap: wrap;
        font-size: 12px;
        margin-top: 15px;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .newsletter_form {
        flex-direction: column;
        margin-left: 0;
    }

    .newsletter_form_input {
        margin-bottom: 10px;
    }

    .menu_btn {
        display: flex;
        z-index: 2;
    }
    .menu_btn.active{
        position: fixed;
        top: 40px;
        right: 40px;
    }


    .menu_btn.active span:before{
        transform: rotate(45deg);
        top: 0;
    }
    .menu_btn.active span:after{
        transform: rotate(-45deg);
        top: 0;
    }
    .menu_btn.active span{
     background-color:transparent;
    }
    .header_menu{
        display: flex;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: white;
        width: 40%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        transition: 0.6s;
    }
.header_menu.active{
    left: 0;
}
}

@media (max-width: 540px) {
    .hero_title {
        font-size: 29px;
    }

    .hero_desc {
        font-size: 12px;
    }

    .story_heading {
        font-size: 14px;
    }

    .col_4 {
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .main_title {
        font-size: 12px;
    }
    .newsletter_caption{
        max-width: 100%;
        margin-bottom: 10px;
    }


    .story_info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer_links{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin:15px 0;
    }
    .footer_contact{
        width: 100%;
        flex-wrap: wrap;
        margin: 15px 0;

    }

    .footer_social{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
}

